/# Ignore system/environment folders
.virtual_documents/
anaconda_projects/

# Ignore entire DataScience_Techinterex folder
# DataScience_Techinterex/

# Optional: if you want to track the root of DataScience_Techinterex but ignore specific subfolders, use the following instead:
# !DataScience_Techinterex/
# DataScience_Techinterex/ipynb_checkpoints/
# DataScience_Techinterex/TASK 1 to TASK 8*/

# General .ipynb_checkpoints ignore rule (covers all folders)
**/.ipynb_checkpoints/

# If "TASK 1 to TASK 8" are actual folder names like TASK 1, TASK 2, ..., TASK 8
DataScience_Techinterex/TASK 1*/
DataScience_Techinterex/TASK 2*/
DataScience_Techinterex/TASK 3*/
DataScience_Techinterex/TASK 4*/
DataScience_Techinterex/TASK 5*/
DataScience_Techinterex/TASK 6*/
DataScience_Techinterex/TASK 7*/
DataScience_Techinterex/TASK 8*/
